.login-text {
  color: whitesmoke;
  font-family: 'Patua One', cursive;
}

.form-inputs {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

.login {
  padding: 30px;
}

.registration {
  color: whitesmoke;
}

.my-4 {
  color: whitesmoke;
}

.login-link {
  margin-top: 15px;
  color: whitesmoke;
}