.add-title {
  font-family: 'Patua One', cursive;
  color: whitesmoke;
}

.fields {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.form-content {
  padding: 30px;
}

.form-actions {
  width: 30%;
}

.btn-text {
  color: whitesmoke;
  &:hover {
    color: whitesmoke;
    font-weight: bolder;
  }
}

.btn-text-position {
  display: flex;
  justify-content: center;
}