.product-card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  padding: 5px;
  background-color: #f8efdd;
  border: none;
  margin: 20px 10px;
  box-shadow: 1px 1px 5px #cabea9;
  padding-top: 5px;
}

body {
  background-color: #2e2e2e;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.beer-name {
  color: #621212;
  font-family: 'Epilogue', sans-serif;
  font-size: 20px;
  font-weight: 600;

  &:hover {
    text-decoration: none;
    color: #bb0404;
    font-weight: bolder;
  }
}

.navbar-beer {
  background-color:#181818;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px;
}

.price {
  font-weight: 700;
  margin-top: 10px;
  font-size: 19px;
}

.add-index {
  width: fit-content;
}

.add-beer-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
