  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1504502350688-00f5d59bbdeb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
    <div class="container">
      <h1>Beer n' Beer</strong>!</h1>
      <p>Users</p>
      <a class="btn btn-flat" href="#">Apply now</a>
    </div>
  </div>
  <br>
    <h1 class="text-center"> Cocktails </h1>
<br>

<div class="container">
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1551862368-7e6687b42c2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
          <div class="card-description">
            <h2><%= user.name %></h2>
          </div>
          <%= link_to "", user_path(user), class: 'card-link' %>
        </div>
      </div>
    <% end %>
  </div>
<br>
<br>
</div>