<h3> <%# @user.name %> </h3>
  <p> 
    <ul> 
      <li> <%# @user.phone_number %> </li>
      <li> <%# @user.address %> </li>
    </ul>
  </p>
<br>
<%# link_to "Edit Infos", edit_path %>
<br>
<%# <%= link_to "Delete", task_path,
    method: :delete, data: { confirm: "Are you sure?" } %> %>
<br>
<%# link_to "User list", users_path %>
<%# link_to "Home", root_path %>