<div class="container">

  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>

  
  <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-primary' %>
  <%= link_to "Sign in", new_user_session_path, class: 'btn btn-primary' %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>

<br>
<%= link_to "Products", products_path, class: 'btn btn-dark mt-1' %>

</div>