footer {
  background-color: #181818;
  padding-top: 20px;
  margin-top: 50px;
}

.follow {
  display: flex;
  justify-content: center;
}

.follow li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

footer h5 {
  color: whitesmoke;
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.follow i {
  color: whitesmoke;
  font-size: 25px;

  &:hover {
    color: orange;
  }
}
