.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.map-container {
  display: flex;
  justify-content: center;
}

#map {
   border-radius: 3px;
   position: sticky;
   top: 0;
  }
  