.navbar-lewagon {
  justify-content: space-between;
  background: #181818;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: whitesmoke !important;
}

.search-bar {
  display: flex;
}

.field {
  margin-right: 5px;
}

.navbar-title {
  font-family: sansita swashed;
  color: #ffce49;
  font-size: 40px;
}