.navbar-lewagon {
  justify-content: space-between;
  background: #181818;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: whitesmoke !important;
}