<div class="container">
  <h2>Products list</h2>


 <div class='cards'>
    <% @products.each do |beer| %>
      <div class='card'>
        <%= cl_image_tag beer.photo.key, height: 300, width: 400, crop: :fill if beer.photo.attached? %>
        <h4><%= link_to "#{beer.name}", product_path(beer) %></h4>
      </div>
        <% end %>
  </div>
  <br>
  <%= link_to 'Add beer', new_product_path, class: 'btn btn-warning add-index' %>

</div>